$black: #000;
$border-gray: rgba($black, .1);
$label-gray: #c7c7c7;
$secondary-gray: #efefef;
$white: #fff;
$primary-blue: #0072ff;
$error-red: #ff4f33;
$warning-yellow: #ffbc00;

%col-nowrap {
  display: flex;
  flex-flow: column nowrap;
}

%row-nowrap {
  display: flex;
  flex-flow: row nowrap;
}

%h1 {
  font-size: 2rem;
  line-height: 1.3125;
}

%h2 {
  font-size: 1.5rem;
  line-height: 1.3125;
}

%h3 {
  font-size: 1.17rem;
  line-height: 1.3125;
}

%h4 {
  font-size: 1rem;
  line-height: 1.3125;
}

%h5 {
  font-size: .83rem;
  line-height: 1.3125;
}

%h6 {
  font-size: .67rem;
  line-height: 1.3125;
}

%regular-font {
  font-size: 1rem;
  line-height: 1.3125;
}

%ellipsify {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
