@import "../../util/variables";

.add-profile-modal {
  @extend %col-nowrap;
  width: 24rem;
  cursor: default;

  .modal {
    &__content {
      padding: 1rem 1.25rem;
      background-color: rgba($black, .025);

      .input-group + .input-group {
        margin-top: 1rem;
      }

      .dropdown-group + .dropdown-group {
        margin-top: 1rem;
      }

      .plan-description-input {
        margin-top: 1rem;
      }
    }

    &__footer {
      border-top: 1px solid $border-gray;
      background-color: $white;
      padding: 1rem 1.25rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-gap: 1rem;
      border-bottom-left-radius: .5rem;
      border-bottom-right-radius: .5rem;

      .button {
        @extend %row-nowrap;
        @extend %h4;
        justify-content: center;
        padding: .5rem .75rem;
        font-weight: 600;
      }
    }
  }

  &__content-row {
    @extend %row-nowrap;
    align-items: center;
    padding: 1rem;
    border: 1px solid $border-gray;
    border-radius: 4px;
    cursor: pointer;

    &__name {
      flex: 1 1 auto;
    }

    &:hover {
      border-color: rgba($black, .3);
    }
  }

  &__review-plans-label {
    @extend %row-nowrap;
    @extend %h5;
    color: $label-gray;
    margin: 1.25rem 0 .25rem;

    &__action {
      text-align: right;
      flex: 1 1 auto;
      cursor: pointer;
    }
  }
}

.plan-row {
  @extend %row-nowrap;
  align-items: center;
  border: 1px solid $border-gray;
  border-radius: 4px;
  padding: .5rem .75rem;
  margin-top: .5rem;

  &__l {
    @extend %col-nowrap;
  }

  &__title {
    font-weight: 600;
  }

  &__description {
    @extend %h5;
    color: rgba($black, .5);
  }

  &__r {
    @extend %h3;
    @extend %col-nowrap;
    align-items: flex-end;
    justify-content: center;
    flex: 1 1 auto;
    font-weight: 500;
  }

  &__remove {
    margin-left: .5rem;

    .icon {
      color: $label-gray;
      transition: color 150ms ease-in-out;

      &:hover {
        color: $error-red;
      }

      &:active {
        color: $error-red;
      }
    }
  }
}