@import "../../util/variables";

.modal {
  @extend %col-nowrap;
  &__overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba($black, .7);
    z-index: 100;
    overflow: auto;
  }

  &__wrapper {
    margin: 3rem auto;
    background-color: $white;
    border-radius: .5rem;
    box-shadow: 0 2px 8px 4px rgba($black, .2);
    z-index: 200;
  }

  &__header {
    @extend %row-nowrap;
    flex: 0 0 auto;
    align-items: center;
    padding: 1rem 1.25rem;

    &__title {
      @extend %regular-font;
      font-weight: 500;
    }

    &__content {
      @extend %row-nowrap;
      flex: 1 1 auto;
      justify-content: flex-end;
    }
  }

  &__content {
    @extend %col-nowrap;
    flex: 1 1 auto;
    max-height: 24rem;
    overflow-y: auto;

    p:nth-of-type(1) {
      margin-top: 0;
    }

    .error-message {
      text-align: center;
      margin-top: 1rem;
    }
  }

  &__footer {
    @extend %col-nowrap;
    flex: 0 0 auto;
  }
}

