@import "../../util/variables";

.header {
  @extend %row-nowrap;
  height: 5rem;
  border-bottom: 1px solid $border-gray;
  align-items: center;
  justify-content: center;

  &__body {
    @extend %row-nowrap;
    align-items: center;
    flex: 1 1 auto;
    max-width: 72rem;
    padding: 0 1rem;
  }

  &__logo {
    @extend %h1;
    font-family: "Zilla Slab Highlight", cursive;
    cursor: default;
    font-weight: 600;
    user-select: none;
  }

  &__content {
    @extend %row-nowrap;
    align-items: center;
    justify-content: flex-end;
    flex: 1 1 auto;
  }

  &__network-button {
    @extend %h5;
    border-radius: 3px;
    font-weight: 600;
    padding: .5rem;
    margin-right: 1rem;
    background-color: rgba($warning-yellow, .25);
    color: darken($warning-yellow, 5);
  }
}
